<div class="container">
    <div class="row">
        <div class="card text-center col-md-4 bg-warning" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Total Confirmed Cases</h5>
              <p class="card-text">{{globalData.cases}}</p>
              
            </div>
          </div>
    

          <div class="card text-center col-md-4 bg-success" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Total Recovered cases</h5>
              <p class="card-text">{{globalData.recovered}}</p>
              
            </div>
          </div>


          <div class="card text-center col-md-4 bg-danger" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Total Death Cases</h5>
              <p class="card-text">{{globalData.deaths}}</p>
              
            </div>
          </div>
    
    </div>





    <div class="row">
        <div class="card text-center col-md-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Daily Confirmed Cases</h5>
              <p class="card-text">{{globalData.todayCases}}</p>
              
            </div>
          </div>
    

          <div class="card text-center col-md-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Active Cases</h5>
              <p class="card-text">{{globalData.active}}</p>
              
            </div>
          </div>


          <div class="card text-center col-md-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Daily Death Cases</h5>
              <p class="card-text">{{globalData.todayDeaths}}</p>
              
            </div>
          </div>
    
    </div>

</div>
